body{
    background-image: url(wallpeaper.jpg);
}

h1, h2 {
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: bold;
    color: #D9B8B8;
  }

  button{
    height: 40px;
    width: 247px;
    color: #fff;
    background-color: #8C4646;
    border-radius: 20%;
    color: #fff;
    border: none;
    cursor: pointer;
}